Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: None
NamespaceIndentation: None

# Brace style (Allman)
BreakBeforeBraces: Allman

# Column limit
ColumnLimit: 140

# Pointer & reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never
SpacesInSquareBrackets: false

# Line breaking
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: false

# Constructor initializer list
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Function calls / declarations
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false

# Templates
AlwaysBreakTemplateDeclarations: Yes

# Include sorting
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 3

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignOperands: Align

# Miscellaneous
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
SortUsingDeclarations: true
