.clangd
.cache
build
vsxmake2019
.deprecated
.xmake
Assets/Shaders/.vs
Content/Shaders/.vs
Content/Textures/TestVirtualHeightfield.nasset
.vscode/compile_commands.json
compile_commands.json
src/Runtime/Generated

*.zip
Saved
