.clangd
.cache
build
vsxmake2019
.deprecated
.xmake
Assets/Shaders/.vs
Content/Shaders/.vs
Content/Textures/TestVirtualHeightfield.nasset
.vscode/compile_commands.json
compile_commands.json

*.zip
!Engine/Source/ThirdParty/slang/slang-2026.4.2-windows-x86_64.zip
Saved

*.gen.cpp
*.generated.h

CachedShaderModifiedTime.txt
CachedHeaderModifiedTime.txt

Engine/Source/Runtime/*/Generated/

Engine/Source/ThirdParty/slang/LICENSE
Engine/Source/ThirdParty/slang/README.md
Engine/Source/ThirdParty/slang/bin/
Engine/Source/ThirdParty/slang/cmake/
Engine/Source/ThirdParty/slang/include/
Engine/Source/ThirdParty/slang/lib/
Engine/Source/ThirdParty/slang/share/
